.tables {
	margin: 2% 2% 0;
}

.text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px !important;
	text-align: center;
}

.textBig {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	text-align: left;
}

.expandeTables {
	height: 100%;
}

.tab .ui-tabmenu .ui-tabmenu-nav li {
	float: right !important;
}

.buttonAlign {
	text-align: center !important;
}

.tabMenu {
	margin: auto;
}

.panel {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.table-users {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px !important;
}

.changeDetails {
	padding-top: 5px;
	vertical-align: top;
}

