.ui-menu .ui-menuitem {
	float: right !important;
}

.fileTreeTable {
	text-align: center;
	margin: 5% 2% 0;
}

.tables {
	margin: 5% 2% 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px !important;
}

.expandeTables {
	height: 350px;
}

.ui-widget .ui-widget .ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.tab .ui-tabmenu .ui-tabmenu-nav li {
	float: right !important;
}

.fileContentHeaderLabels {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
}