<html>

		#set($subject = "Your revision was tweeted!")	
<body>
<h1 style = "color: #FFFFFF; text-align: center; background-color:#009966;width: 50%; margin: auto">
Hello, ${user.firstName} ${user.lastName}! $subject</h1>

<p style = "color: #009966; text-align: left; width: 50%; margin: auto; font-size: 15px;">

User $tweet.getAuthor() was tweeted your revision $tweet.getRevision().getRevisionNo() of $tweet.getRevision().getDate() :
</p>

<p style = " text-align: center; margin: 0 auto">
<textarea style = "color: #FFFFFF; background-color:#009966; margin: 0 auto" readonly>
	$tweet.getTweet()
</textarea>

	</p>

</body>

</html>