<html>
<body>
<h1 style = "color: #FFFFFF; text-align: center; background-color:#009966;width: 50%; margin: auto">
Hi ${user.firstName} ${user.lastName}, welcome to the SVN Sheepdog!</h1>

<p style = "color: #009966; text-align: center; width: 50%; margin: auto; font-size: 15px;">
${message}
</p>

</body>

</html>